body {
   background-color: #310;
}
div.content {
   padding: 5px 15px;
   margin: 10px auto;
   border: thin solid black;
   background-color: #FEC;
   max-width: 800px;
}
h2 {
   color: #800;
   border-bottom: thick double #800;
   padding-bottom: 5px;
}
h3 {
   color: #800;
   background-color: #FFE;
   padding: 3px 10px;
   border: thin solid #800;
   border-radius: 16px;
}
div.intro {
   font-style: italic;
}
div.section {
   margin-top: 1cm;
}
div.section p {
   padding: 0 0.8cm;
   text-indent: 1cm;
}
div.section p.np {
   text-indent: 0cm;
}
p.tip {
   color: #510;
}
pre.code {
   margin-left: 2.5cm;
   color: #00A;
}
li {
   margin-bottom: 7px;
}
div.section li {
   margin-left: 1.5cm;
}
.nb {
   white-space: pre;
}
