body{
    /*margin-left: 2vmin;*/
    margin-top: 2vmin;
    background-color: #c71010;
    user-select: none;
    font-family: "Corbel";
}

#lecturerDiv{
    position: fixed;
    background-color: rgba(255, 0, 0, 0.5);
}

canvas {
    background-color: white;
    display: inline-block;
}

h1{
    font-size: 6vmin;
}

h3{
    font-size: 4vmin;
}

label{
    font-size: 2vmin;
}

input[type=text]{
    width: 5vw
}


button{
    min-width: 17vmin;
    min-height: 5vmin;
    border-radius: 2vmin;

    transition-duration: 0.1s;
    cursor: pointer;

    background-color: transparent;
    color: black;
    border: 0.6vmin solid black;
}

button:hover{
    background-color: #fffc00;
}

#canvas {
    border: 5px solid black;
    /*width: 700px;*/
    /*height: 80vh;*/
}

#canvasDiv{
    margin-left:2vw;
    background-color: rgba(0,0,0,0.2);

}

#vertexDiv{
    margin-left:2vw;
    background-color: rgba(0, 0, 0, 0.2);
}

#edgeDiv{
    margin-left: 2vw;
    background-color: rgba(0,0,0,0.2);
}
