@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    src: url(Aldrich-Regular.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
  
.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 3vmin;
}
  
body{
    /*margin-left: 2vmin;*/
    margin-top: 2vmin;
    background-color: #c71010;
    user-select: none;
    font-family: Aldrich;
}

#lecturerDiv{
    position: fixed;
    background-color: rgba(240, 20, 20, 0.5);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

#studentDiv{
    position: fixed;
    background-color: rgba(20, 240, 220, 0.5);
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

canvas {
    background-color: white;
}

input{
    font-size: 2vmin;
}

select{
    font-size: 2vmin;
    width: 100%;
    text-align: center;
}

button{
    font-size: 2vmin;
}

h1{
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 4.5vmin;
    font-weight: bold;
    text-align: center;
}

h3{
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
    display: block;
}

label{
    font-size: 2vmin;
    display: inline;
}

button{
    margin-top: 1vh;

    width: 100%;
    /*min-height: 5vmin;*/
    border-radius: 2vmin;

    transition-duration: 0.1s;
    cursor: pointer;

    background-color: transparent;
    color: black;
    border: 0.6vmin solid black;

    display: block;
}

#checkButton{
    font-size: 5vmin;
    border-radius: 5vmin;
}

#downloadButton{
    font-size: 5vmin;
    border-radius: 5vmin;
}

#createButton{
    font-size: 5vmin;
    border-radius: 5vmin;
}

button:hover{
    background-color: #fffc00;
}

#canvas {
    border: 5px solid black;
}

#canvasDiv{
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;

    background-color: rgba(0,0,0,0.2);

    width: available;

    height: 100vh;
    overflow: scroll;
}


#vertexDiv{
    /*margin-left: 2vw;*/
    padding: 2vh 1vw;

    /*background-color: rgba(0, 0, 0, 0.2);*/

    width: fit-content;

    height: 100vh;
    overflow: scroll;
}

#edgeDiv{
    float: right;

    /*margin-left: 2vw;*/
    padding: 2vh 1vw;

    /*background-color: rgba(0,0,0,0.2);*/

    width: fit-content;

    height: 100vh;
    overflow: scroll;
}

#editingDiv{
    /*margin-left: 2vw;*/
    padding: 2vh 1vw;

    /*background-color: rgba(0, 0, 0, 0.2);*/

    width: fit-content;
    
    height: 100vh;
    overflow: scroll;
}

#questionUseRG{
    padding: 1vh 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    /*border: 0.2vmin solid black;*/
}